---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="labs" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose max-w-6xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-6xl">{frontmatter.title}</h1>
      <slot />
    </section>
    <section id="cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
      <a href="/bucket-list" target="_blank" class="card border-skin-line">
        <div class="card-content">
          <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Bucket List</h2>
          <p>Much like the travel blog, here are all the things I want to see and the activities I want to do!</p>
        </div>
      </a>
      <a href="/blogs/travel" target="_blank" class="card border-skin-line">
        <div class="card-content">
          <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Travel Blog</h2>
          <p>Follow along with our travel adventures!</p>
        </div>
      </a>
      <a href="/purpose" target="_blank" class="card border-skin-line">
        <div class="card-content">
          <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">/purpose</h2>
          <p>This page exists because I think the web would be a better place if the people trying to shape it spoke openly and plainly about their vision for the future.</p>
        </div>
      </a>
      <a href="/reviews" target="_blank" class="card border-skin-line">
        <div class="card-content">
          <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Reviews</h2>
          <p>A record of all the reviews I have left across different websites and services so they can all be found in one place, and saved for eternity.</p>
        </div>
      </a>
      <a href="/redcross" target="_blank" class="card border-skin-line">
        <div class="card-content">
          <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Red Cross</h2>
          <p>An archive of Swimming Lesson instructor tools.</p>
        </div>
      </a>
    </section>
    <section id="cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        <div class="card-content card border-skin-line">
          <div id="unsplash-stats">
            <h2 class="text-lg text-skin-accent font-medium">My Unsplash Stats</h2>
            <p id="downloads">Downloads: </p>
            <p id="views">Views: </p>
            <p id="likes">Likes: </p>
          </div>
        </div>
    </section>
    <br>
    <section >
      <div style="display: flex; justify-content: center; max-width: 100%;">
        <iframe width="100%" height="337" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTu8BIkLoeldqgLyVgPxmw-9fmOMu76TNv04y2OsG708ABJIJ7HLaZc234kmHDLz_g3zhjMNY3TKVqa/pubchart?oid=2021333611&amp;format=interactive"></iframe>
      </div>
      <br>
      <div style="display: flex; justify-content: center; max-width: 100%;">
        <iframe width="100%" height="337" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTu8BIkLoeldqgLyVgPxmw-9fmOMu76TNv04y2OsG708ABJIJ7HLaZc234kmHDLz_g3zhjMNY3TKVqa/pubchart?oid=1693297828&amp;format=interactive"></iframe>
      </div>
      <br>
      <div style="display: flex; justify-content: center; max-width: 100%;">
        <iframe width="100%" height="337" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTu8BIkLoeldqgLyVgPxmw-9fmOMu76TNv04y2OsG708ABJIJ7HLaZc234kmHDLz_g3zhjMNY3TKVqa/pubchart?oid=1923967447&amp;format=interactive"></iframe>
      </div>
      <br>
      <div style="display: flex; justify-content: center; max-width: 100%;">
        <iframe width="100%" height="337" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTu8BIkLoeldqgLyVgPxmw-9fmOMu76TNv04y2OsG708ABJIJ7HLaZc234kmHDLz_g3zhjMNY3TKVqa/pubchart?oid=1687108451&amp;format=interactive"></iframe>
      </div>
      <br>
      <div style="display: flex; justify-content: center; max-width: 100%;">
        <iframe width="100%" height="337" seamless frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTu8BIkLoeldqgLyVgPxmw-9fmOMu76TNv04y2OsG708ABJIJ7HLaZc234kmHDLz_g3zhjMNY3TKVqa/pubchart?oid=1571930743&amp;format=interactive"></iframe>
      </div>
    </section>
    
    <section class="prose max-w-6xl prose-img:border-0">
      <br>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .card {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .border-skin-line {
    --tw-border-opacity: 1;
    border-color: rgba(var(--color-border), var(--tw-border-opacity));
    border: 1px solid #e5e7eb;
    border-radius: 8px;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .text-skin-accent {
  --tw-text-opacity: 1;
  color: rgba(var(--color-accent), var(--tw-text-opacity));
  }
</style>

<script>
  const username = 'william_vdg';
  require('dotenv').config();
  const accessKey = process.env.UNSPLASH_ACCESS_KEY;

  fetch(`https://api.unsplash.com/users/${username}/statistics`, {
    headers: {
      'Authorization': `Client-ID ${accessKey}`
    }
  })
  .then(response => response.json())
  .then(data => {
    const downloads = data.downloads?.total || 0;
    const views = data.views?.total || 0;
    const likes = data.likes?.total || 0;

    document.getElementById('downloads').textContent = `Downloads: ${downloads}`;
    document.getElementById('views').textContent = `Views: ${views}`;
    document.getElementById('likes').textContent = `Likes: ${likes}`;
  })
  .catch(error => console.error('Error fetching user stats:', error));

</script>
<script>
  

</script>